<div class="comment-layout-container" id="comments">
  <div>
    {% include('entity/comment/comment_write.html.twig') %}
  </div>
  <div>
    {% include('entity/comment/comment_list.html.twig') %}
  </div>
</div>