{% extends 'base.html.twig' %}

{% block body %}
    {% if deals is empty %}
        <h1>Aucun deal, tristesse</h1>
    {% endif %}

    <div class="deals-container">
        {% for deal in deals %}
            {% include('entity/deal/deal_preview.html.twig') %}
        {% endfor %}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

