{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}

{% for groupe in groupes %}

    <a  href="{{ path('app_groupe_displayDealsByGroupe', {'groupeId': groupe.id}) }}">{{ groupe.nom }}</a>

{% endfor %}

{% endblock %}

