{% extends 'base.html.twig' %}

{% block body %}
    <h3>{{ deal.description }}</h3>
    <h3>{{ deal.titre }}</h3>
    <h3>{{ deal.codePromo }}</h3>
{% endblock %}

{% block title %}

{% endblock %}

