<div class="footerDealabs">
  <div class="container">
    <div class="footerDealabs--title-container">
      <div class="footerDealabs--icon">
        {{ source('@public_path'~asset('build/images/icons/Dealabs.svg')) }}
      </div>
      <div>
        <div class="footerDealabs--title">
          Dealabs – La première communauté de partage de bons plans de France
        </div>
        <div>
          Dealabs est une communauté de partage de bonnes affaires. Découvrez et partagez les offres en magasin et en ligne !
        </div>
      </div>
    </div>

    Lorsque vous cliquez sur un lien ou passez commande, nous sommes susceptibles de recevoir une commission, sans que cela ne compromette la neutralité du site. Seule la communauté de Dealabs peut faire monter ou descendre la température d'un deal, indépendamment de toute potentielle rémunération. Nous tenons beaucoup à ce que ce pouvoir reste entre vos mains.
  </div>
</div>

