<nav class="navbar navbar-expand-lg sticky-top navbar navbar-dark bg-dark-dealabs">
    <div class="container-fluid container">
        <a class="navbar-brand logo-dealabs" href="/">
            {{ source('@public_path'~asset('build/images/logos/Dealabs_Logo.svg')) }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="">Bons Plans</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Codes Promo</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>

            <form class="d-flex rightInFlex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-labeled btn-primary" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div style="margin-left: 10px; display: flex; flex-direction: row; column-gap: 5px;">
            {% if app.user %}
                <li class="dropdown" style="list-style-type: none;">
                    <a class="btn btn-light" href="" id="userDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="right: 0; left: unset;">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <a class="dropdown-item logoutBtn" href="/logout">
                                <i class="fas fa-sign-out-alt"></i>
                                Déconnexion
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" style="list-style-type: none;">
                    <a class="btn btn-light" href="" id="createDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-plus"></i>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="right: 0; left: unset;">
                        <li><a class="dropdown-item" href="{{ path('app_accueil_addbonplan') }}">Créer un Bon Plan</a></li>
                        <li><a class="dropdown-item" href="{{ path('app_accueil_addcodepromo') }}">Créer un Code Promo</a></li>
                    </ul>
                </li>
            {% else %}
                <a class="btn btn-light" href="{{ path('app_login') }}">
                    <i class="fas fa-sign-in-alt"></i>
                    Connexion
                </a>
            {% endif %}
        </div>
    </div>
</nav>