{% if deal is not empty %}
  <div class="deals-item__degrees">
    <a id="voterMoins" data-id="{{ deal.id }}" onclick="" class="deals-item__degrees__minus"><i class="fas fa-minus"></i></a>
    {{ deal.degres()|trans }}
    <a class="deals-item__degrees__plus" href="{{ path('app_deal_voterPlus', {'id': deal.id}) }}"><i class="fas fa-plus"></i></a>
  </div>
{% endif %}
