{% if deal is not empty and dealsSaved is defined %}
  {% set dealSaved = deal in dealsSaved %}
  <div data-id="{{ deal.id }}" class="deals-item__actions-saved btn btn-secondary {{ dealSaved ? 'js-removeDealSaved' : 'js-saveDeal' }}"><i class="fas fa-bookmark"></i></div>
{% endif %}